In [1]:
import pandas as pd

In [3]:
import pandas as pd

lojaA = pd.DataFrame({"loja": ["A", "A", "A"],
                      "dia": ["sex", "sab", "dom"],
                      "valor": [7500, 9500, 8200]}
                    )

lojaB = pd.DataFrame({"loja": ["B", "A", "A"],
                      "dia": ["sex", "sab", "dom"],
                      "valor": [5100, 8250, 9900]}
                    )

lojaC = pd.DataFrame({"loja": ["B", "A"],
                      "dia": ["sex", "sab"],
                      "valor": [7500, 1180]}
                    )


lojaABC = pd.concat([lojaA, lojaB, lojaC], ignore_index=True)
print(lojaABC)

  loja  dia  valor
0    A  sex   7500
1    A  sab   9500
2    A  dom   8200
3    B  sex   5100
4    A  sab   8250
5    A  dom   9900
6    B  sex   7500
7    A  sab   1180

In [4]:

#(1)-Cria dois DataFrames com definição diferente
d1 = pd.DataFrame({"carro":["Hyundai", "Renault", "Fiat"]})
d2 = pd.DataFrame({"animal":["Capivara", "Bem-te-vi"]})
#(2)-Concatena os DataFrames
d3 = pd.concat([d1,d2], ignore_index=True, sort=False)
print(d3)

     carro     animal
0  Hyundai        NaN
1  Renault        NaN
2     Fiat        NaN
3      NaN   Capivara
4      NaN  Bem-te-vi

In [5]:
df_sql = pd.DataFrame({"email":["rakesh@xyz.com",
 "ecg@acmecorpus.com"]})
df_python = pd.DataFrame({"email":["ana@xyz.com",
 "jonas@acmecorpus.com",
"rakesh@xyz.com"]})
#(2)-Efetua as operações de conjunto
#2.1 União (relação de alunos distintos)
alunos = pd.concat([df_sql, df_python], ignore_index=True)
alunos = alunos.drop_duplicates()
#2.2 Interseção (quem fez ambos os cursos)
sql_e_python = df_sql.merge(df_python)
#2.3 Diferença (quem fez só SQL e quem fez só Python)
so_sql = df_sql[df_sql.email.isin(df_python.email)==False]
so_python = df_python[df_python.email.isin(df_sql.email)==False]
#(3)-Imprime os resultados
print('------------------------------')
print('Alunos Distintos:')
print(alunos)
print('------------------------------')
print('Alunos cursaram SQL e Python:')
print(sql_e_python)
print('------------------------------')
print('Alunos cursaram apenas SQL:')
print(so_sql)
print('------------------------------')
print('Alunos cursaram apenas Python:')
print(so_python)

------------------------------
Alunos Distintos:
                  email
0        rakesh@xyz.com
1    ecg@acmecorpus.com
2           ana@xyz.com
3  jonas@acmecorpus.com
------------------------------
Alunos cursaram SQL e Python:
            email
0  rakesh@xyz.com
------------------------------
Alunos cursaram apenas SQL:
                email
1  ecg@acmecorpus.com
------------------------------
Alunos cursaram apenas Python:
                  email
0           ana@xyz.com
1  jonas@acmecorpus.com

In [7]:
flags = pd.read_csv('./dados/flags.csv')
countries = pd.read_csv('./dados/countries.csv')

num_linhas_flags = flags.shape[0]
num_linhas_countries = countries.shape[0]

# Junção interna: países comuns a ambas as bases
ambas = pd.merge(flags, countries, how="inner", left_on="name", right_on="country")
num_linhas_ambas = ambas.shape[0]

# Left Join: países apenas em flags
so_flags = pd.merge(flags, countries, how="left", left_on="name", right_on="country")
so_flags = so_flags[pd.isnull(so_flags['country'])==True]
num_linhas_so_flags = so_flags.shape[0]

# Right Join: países apenas em countries
so_countries = pd.merge(flags, countries, how="right", left_on="name", right_on="country")
so_countries = so_countries[pd.isnull(so_countries['name'])==True]
num_linhas_so_countries = so_countries.shape[0]

print("Numero de paises em 'flags': ", num_linhas_flags)
print("Numero de paises em 'countries': ", num_linhas_countries)
print("Numero de paises comuns a ambas as bases: ", num_linhas_ambas)
print("Numero de paises apenas em 'flags': ", num_linhas_so_flags)
print("Numero de paises apenas em 'countries': ", num_linhas_so_countries)

In [8]:
flags = pd.read_csv('./dados/flags.csv')

In [14]:
v = (flags['landmass']==6)
df = flags[v]

df = df[['name', 'landmass', 'population']]
df.reset_index(drop=True, inplace=True)
print(df)

                name  landmass  population
0     American-Samoa         6           0
1          Australia         6          15
2       Cook-Islands         6           0
3               Fiji         6           1
4   French-Polynesia         6           0
5               Guam         6           0
6          Indonesia         6         157
7           Kiribati         6           0
8           Marianas         6           0
9         Micronesia         6           0
10             Nauru         6           0
11       New-Zealand         6           2
12              Niue         6           0
13  Papua-New-Guinea         6           3
14       Philippines         6          48
15   Soloman-Islands         6           0
16             Tonga         6           0
17            Tuvalu         6           0
18           Vanuatu         6           0
19     Western-Samoa         6           0